body {
    background-color: #AEB8FE;
    display: flex;

    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --dice-white: #EFE5DC;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.dice {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: var(--dice-white);
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: black;
    border-radius: 10px;
}

.dot.white {
    background-color: var(--dice-white);
}

#dice-roll {
    width: max-content
}